<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rootrunner">

    <queries>
        <!-- KernelSU 官方 -->
        <package android:name="me.weishu.kernelsu" />
        <package android:name="me.weishu.kernelsu.debug" />
        <!-- KernelSU Next -->
        <package android:name="com.rifsxd.ksunext" />
        <package android:name="com.rifsxd.ksunext.lite" />
        <!-- Magisk -->
        <package android:name="com.topjohnwu.magisk" />
        <package android:name="com.topjohnwu.magisk.debug" />
        <package android:name="io.github.huskydg.magisk" />
        <!-- 其他 root 管理 -->
        <package android:name="com.kingroot.kinguser" />
        <package android:name="eu.chainfire.supersu" />
        <package android:name="com.koushikdutta.superuser" />
        <package android:name="com.noshufou.android.su" />
    </queries>

    <application
        android:allowBackup="true"
        android:label="Root脚本启动器"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
